#navbarContainer{
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content:flex-start; */
    /* margin-top: 20px; */
   
}
#searchbar{
    margin-left: 20px;
    margin-top: 110px;
    width: 500px;
    height: 30px;
}
img{
    width: 200px;
    height: 200px;
}

#cartnav{
    padding: 10px;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    width: 120px;
    height: 60px;
    justify-content: space-evenly;
    background-color: rgb(238, 235, 235);
}

#basket{
    font-size: 30px;
}

#searchicon{
text-align: center;
background-color: greenyellow;
margin-top: 110px;
width: 30px;
height: 30px;
}

#cartnav > p{
    font-family:Arial, Helvetica, sans-serif;
}
#login{
    justify-content: flex-end;
    display: flex;
    gap: 20px;
    width: 60%;
    margin: auto;
    height: 40px;
    /* border: 1px solid red; */
}
#category{
    width: 80%;
    margin: auto;
    display: flex;
    justify-items: flex-start;
    gap:20px;

}
#shopbycategory{
    background-color: greenyellow;
    /* border: 1px red solid; */
    padding: 10px;
}
#shopbycategory+div{
    width: 800px;
    padding: 10px;
    border: .1px solid grey;
}

.cry{
    /* border: 1px red solid; */
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

#crauser{
    width:100%;
    height: 100%;
    /* margin: 20px 100px; */

   
}
/* #btncrauser{
    text-align: center;
} */
#btncrauser> button:nth-child(1){
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    position: absolute;
    left: 200px;
    bottom: 13px;
}
#btncrauser> button:nth-child(2){
    /* height: 10px; */
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    position: absolute;
    left: 283px;
    bottom: 13px;
}
#btncrauser> button:nth-child(3){
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    position: absolute;
    left: 363px;
    bottom: 13px;
}
#btncrauser> button:nth-child(4){
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    position: absolute;
    left: 443px;
    bottom: 13px;
}
#btncrauser> button:nth-child(5){
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    position: absolute;
    left: 533px;
    bottom: 13px;
}
#btncrauser> button:nth-child(6){
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    position: absolute;
    left: 613px;
    bottom: 13px;
}
#btncrauser> button:nth-child(7){
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    position: absolute;
    left: 693px;
    bottom: 13px;
}
#btncrauser> button:nth-child(8){
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    position: absolute;
    left: 773px;
    bottom: 13px;
}
#bank>h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}
#bankcontainer{
   display: flex;
    width: 60%;
    gap: 20px;
    /* border: 1px solid red; */
    margin: auto;
}

#bankcontainer>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#fruits>h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}
#fruitscontainer{
     /* border: 1px solid red; */
     width: 60%;
     margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#fruitsdiv1>img{
    width: 90%;
    height: 90%;
    margin-top: 20px;
    margin-left: 20px;
    /* border: 1px solid red; */
}
#fruitsdiv2{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
#staples>h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}
#staplescontainer{
   display: flex;
    width: 60%;
    gap: 20px;
    /* border: 1px solid red; */
    margin: auto;
}

#staplescontainer>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#Beverages>h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}
#Beveragescontainer{
     /* border: 1px solid red; */
     width: 60%;
     margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#beveragesdiv1>img{
    width: 90%;
    height: 90%;
    margin-top: 20px;
    margin-left: 20px;
    /* border: 1px solid red; */
}
#beveragesdiv2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

#snacks>h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}
#snackscontainer{
   display: flex;
    width: 60%;
    gap: 20px;
    /* border: 1px solid red; */
    margin: auto;
}

#snackscontainer>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

#cleaning>h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}
#cleaningcontainer{
   display: flex;
    width: 60%;
    gap: 20px;
    /* border: 1px solid red; */
    margin: auto;
}
#cleaningcontainer>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

#featured>h1{
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: grey;
    }

#featured{
        /* border: 1px red solid; */
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        position: relative;
    }
    
#featuredcrauser{
        width:100%;
        height: 100%;
        /* margin: 20px 100px; */
       
}
#leftbtn{
    position: absolute;
    left: 30px;
    top:300px;
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    font-size: 20px;
}
#rightbtn{
    position: absolute;
    right: 30px;
    top:300px;
    border: none;
    background-color:rgba(227, 222, 222, 0.5);
    font-size: 20px;
}
#prod{
    width:80%;
    margin: auto;
    /* border: 1px solid blue;  */
    display: flex;
}

#prod1{
    /* border: 1px red solid; */
    width: 20%;
    margin: 5px;
    height: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#prod1 > img {
    width: 90%;

}

.off{
    text-align: right;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: red;
}

#prod1>p{
    color: grey;
    font-size: 12px;
    margin-left: 10px;
}
#prod1 > h5 {
    margin-left: 10px;
    margin-top: -10px;
}

#select{
    width: 90%;
    margin: auto;
}
.price>button{
    /* margin-left: 50px; */
    /* width: 40px; */
    margin-bottom: 10px;
}
#qty{
    display: flex;
    margin-top:10px ;
    
}
#qtyin{
    width: 30px;
}